/* ── Hamburger3 ── */
.hamburger3 {
  position: relative;
  width: 30px;
}
#hamburger3-input {
  display: none;
}
.hamburger3 label {
  display: block;
  cursor: pointer;
}
.hamburger3-lines {
  position: relative;
}
.hamburger3-lines span {
  display: block;
  height: 3px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #e5e7eb;
  transition: all 0.3s ease-in-out;
}
#hamburger3-input:checked ~ label .hamburger3-lines span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#hamburger3-input:checked ~ label .hamburger3-lines span:nth-child(2) {
  transform: scale(0);
}
#hamburger3-input:checked ~ label .hamburger3-lines span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
