@font-face {
  font-family: 'TRON';
  src: url('TRON.TTF') format('truetype');
}

.typewriter {
  font-family: 'TRON', sans-serif;
  color: #FF2D2D;

  text-shadow:
    0 0 4px #FF2D2D,
    0 0 10px rgba(255, 45, 45, 0.6),
    0 0 20px rgba(255, 45, 45, 0.4);

  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #956afa;

  line-height: 1.2;
  /* evita taglio */
  padding-bottom: 6px;
  animation: typing 4s linear infinite;
}

@keyframes typing {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0 0 0 0);
  }

  60% {
    clip-path: inset(0 0 0 0);
  }

  100% {
    clip-path: inset(0 100% 0 0);
  }
}